@using HotelSo.DTO
@model LoginDTO
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Deluxe Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/css/custom-register.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <style>
        body, html {
            height: 100%;
        }

        .full-height {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row align-items-center justify-content-center full-height">
            <div class="col-md-6 col-lg-4 text-center">
                <h1>Login</h1>
                <p class="font-italic text-muted mb-4">Achieving Superiority in Hospitality.</p>
                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                    <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input asp-for="Email" class="form-control bg-white border-md" placeholder="Email Address">
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input asp-for="Password" class="form-control bg-white border-md" placeholder="Password">
                    </div>
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2 font-weight-bold">Login</button>
                    </div>
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block py-2 font-weight-bold" style="margin: 5px">Back</a>
                    </div>
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Not Registered? <a asp-controller="Account" asp-action="Register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/js/custom-register.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
</body>
</html>
